@Scripts.Render("~/bundles/news")
<section id="ModuloContainer"
         ng-app="News"
         ng-controller="newsController"
         ng-strict-di ng-cloak>

    <div class="jumbotron">
        <h1>Noticias</h1>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Buscar noticias</a></p>
    </div>
    <div class="row">
        <div ng-repeat="elem in importantNews" class="col-md-4">
            <img class="img-responsive" src="{{elem.Image}}" alt="{{elem.Title}}" />
            <h2>{{elem.Title}}</h2>
            <b>{{elem.PublicationDate}}</b>
            <div>{{elem.Content}}</div>
            </div>
    </div>
</section>
    
