@Scripts.Render("~/bundles/news")
<section id="ModuloContainer"
         ng-app="News"
         ng-controller="newsController"
         ng-strict-di ng-cloak>

    <div class="jumbotron">
        <h1>Noticias</h1>
        <button ng-disabled="showMain == false" ng-click="showMain = false" class="btn btn-primary btn-lg">Filtrar noticias</button>
        <button ng-disabled="showMain == true" ng-click="showMain = true" class="btn btn-primary btn-lg">Ver destacadas</button>
    </div>
    <div ng-if="showMain" class="row">
        <h3>Noticias destacadas</h3>
        <div ng-repeat="elem in importantNews" class="col-md-4">
            <img class="img-responsive" src="{{elem.Image}}" alt="{{elem.Title}}" />
            <h2>{{elem.Title}}</h2>
            <b>{{elem.PublicationDate | date:'dd-MM-yyyy'}}</b>
            <div ng-bind-html="elem.Content|trustAsHtml"></div>
        </div>
        </div>

    <div ng-if="!showMain">
        <h3>Filtrar noticias</h3>
        <form ng-submit="getFilteredNews()">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Titulo</label>
                    <input ng-model="create.title" type="text" class="form-control" placeholder="Titulo" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Fecha desde:</label>
                    <input id="startDate" ng-model="create.startDate" type="date" class="form-control" placeholder="Fecha desde" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Fecha Hasta:</label>
                    <input id="endDate" ng-model="create.endDate" type="date" class="form-control" placeholder="Fecha hasta" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Filtrar</button>
            <button type="button" ng-click="getLastNews()" class="btn btn-default">Mostrar 5 noticias recientes</button>
            <br />
            <br />
        </form>

        <div class="row">
            <div ng-repeat="elem in lastNews" class="col-md-4">
                <img class="img-responsive" src="{{elem.Image}}" alt="{{elem.Title}}" />
                <h2>{{elem.Title}}</h2>
                <b>{{elem.PublicationDate | date:'dd-MM-yyyy'}}</b>
                <div ng-bind-html="elem.Content|trustAsHtml"></div>
            </div>
        </div>
    </div>

    <div>

    </div>
</section>
    
